* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  background-color: #06283d;
  height: 100vh;
}

.App.high-water {
  background-image: url(./assets/raining.gif);
  background-repeat: no-repeat;
  background-size: 2000px 1000px;
  animation: fade 2s forwards;
}
.App.sunny-raining {
  background-image: url(./assets/raining-sunny.gif);
  background-repeat: no-repeat;
  animation: fade 2s forwards;
  background-size: 2000px 1000px;
}
.App.sunny {
  background-image: url(./assets/sunny.gif);
  background-repeat: no-repeat;
  animation: fade 2s forwards;
  background-size: 2000px 1000px;
}
.App.raining-drizzle {
  background-image: url(./assets/rain-drizzle.gif);
  background-repeat: no-repeat;
  animation: fade 2s forwards;
  background-size: 2000px 1000px;
}
.App.night {
  background-image: url(./assets/night.gif);
  background-repeat: no-repeat;
  animation: fade 2s forwards;
  background-size: 2000px 1000px;
}
.App.heart-beat {
  background-image: url(./assets/heartbeat-pulse.gif);
  background-repeat: no-repeat;
  animation: fade 2s forwards;
  background-size: 2000px 1000px;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .App.high-water,
  .App.sunny-raining,
  .App.sunny,
  .App.raining-drizzle {
    background-size: 480px 1000px;
  }
  .App.night,
  .App.heart-beat {
    background-size: 360px 1000px;
  }
}

.container {
  position: relative;
  background-color: white;
  height: 600px;
  width: 480px;
  border-radius: 1rem;
  font-size: 1em; /* Use relative font size */
  line-height: 1.8; /* Adjust line height as needed */
  border: 1px solid gray;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
  .container {
    width: 30%;
    height: 50%;
    font-size: 0.8em;
    line-height: 1.2;
  }
}

.container-margin {
  margin-left: 15px;
  margin-top: 30px;
}
.content {
  position: absolute;
  display: block;
  font-size: 1em; /* Use relative font size */
  margin: 2em 1em; /* Adjust margins for spacing */
}

.content h2 {
  font-size: 2em; /* Use relative font size */
  margin: 0 auto; /* Adjust margins for spacing */
  padding-bottom: 1em;
  text-align: center;
  font-weight: 600;
}
@media screen and (max-width: 480px) {
  .content h2 {
    font-size: 1.8em;
  }
}
.content p {
  text-align: justify;
  font-size: 1.2em; /* Use relative font size */
  margin: -0.5em auto;
  padding: 0.5em 1em;
}
.content-list {
  display: flex;
  padding: 20px 20px;
}
.content-list li {
  font-size: 1.5em; /* Use relative font size */
  margin-left: 1em; /* Adjust margins for spacing */
  margin-top: -0.5em;
  list-style: none;
}
@media screen and (max-width: 480px) {
  .content-list li {
    font-size: 1.5em;
    margin-top: 0em;
  }
}
